name: CI - Development

on:
  pull_request:
    branches: [main]
    types: [closed]
  workflow_dispatch:

jobs:
  run-base:
    if: ${{ github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch' }}
    name: Development pipeline
    permissions:
      id-token: write
      contents: write
    uses: ./.github/workflows/base.yml
    with:
      environment: development
      ref: ${{ github.event_name == 'workflow_dispatch' && github.ref || github.event.pull_request.merge_commit_sha }}
    secrets: inherit
