name: CI - Development

on:
  pull_request:
    branches: [develop]
    types: [closed]

jobs:
  run-base:
    if: ${{ github.event.pull_request.merged == true }}
    name: Development pipeline
    uses: ./.github/workflows/base.yml
    with:
      environment: development
    secrets: inherit
