name: CI - Production

on:
  pull_request:
    branches: ['release/**', 'production']
    types: [closed]
jobs:
  run-base:
    if: ${{ github.event.pull_request.merged == true }}
    name: Production pipeline
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/base.yml
    with:
      environment: production
    secrets: inherit
