name: CI - Production

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  run-base:
    if: ${{ github.event.pull_request.merged == true }}
    name: Production pipeline
    uses: ./.github/workflows/base.yml
    with:
      environment: production
    secrets: inherit
