name: CI - Production

on:
  pull_request:
    branches: ['production']
    types: [closed]

jobs:
  run-base:
    if: ${{ github.event.pull_request.merged == true }}
    name: Production pipeline
    permissions:
      id-token: write
      contents: write
    uses: ./.github/workflows/base.yml
    with:
      environment: production
      ref: ${{ github.ref }}
    secrets: inherit
